
.carousel{
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
}

.itemList{
    display: flex;
    max-width: 100%;
    width: 100%;
        /* specifica il comportamento dello scorrimento, in questo caso non a scatto */
    scroll-behavior:smooth;
        /* l'overflow è nascosto */
    overflow: hidden; 
     
    gap: 50px;
}

.artImg{
    height: 500px;
} 

.bottoneBack, .bottoneForward {
   height: 40px;
   width: 40px;
   margin-top: 250px;
   border-style: none;
   cursor:pointer;
   background-color: transparent;
}

.bottoneBack > img, .bottoneForward > img {
    height: inherit;
    filter: invert();
}

body.light .bottoneBack > img , body.light .bottoneForward > img {
    filter: initial;
}

.bottoneBack {
    margin-right: 20px
}
.bottoneForward {
    margin-left: 20px;
}

.bold {
    font-weight: 800;
    margin-bottom: 2px;
    margin-top: 0px;
}

.titleSection {
    padding-top: 100px;
    padding-left: 90px;
    padding-bottom: 20px;
}

.slideshow {
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.slide {
    height: 400px;
    width: 400px;
    display: none;
}
.immagine {
    height: 500px;
    width: inherit;
    display: flex;
    justify-content: center;
}

.punti{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.punto {
    width: 20px;
    height: 20px;
    display: block;
    background-color:rgb(222, 222, 222);
    border-radius: 50%;
    cursor:pointer;
}

@media only screen and (max-width: 800px) {
    .carousel {
        padding-left: 20px;
        padding-right: 20px;
    }
}