.presentationContainer {
    padding-top: 50px;
}

.presentation {
    margin: 100px;
    padding: 50px;
    background-color: #FAF9F6;
    color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
}

body.light .presentation {
    background-color: #efeee9;;
}

.callMe > img {
    height: 200px;
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
} 

.txt > p {
    margin: 0;
    margin-left: 40px;
}

.aboutLink {
    margin: 0;
    margin-left: 40px;
    color: rgb(26, 26, 26);
}

@media only screen and (max-width: 780px) {
    .presentation {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
}