.cardContainer {
    gap: 50px;
    padding: 100px;
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    
}

.cardTxt {
    height: 100px;
    background-color: rgb(253, 253, 253);
    padding:0px;
}

.cardTxt > p {
    margin: 0;
    color: rgb(26,26,26);
}

.card > img {
    height: 300px;
}