.albumCard{
    padding: 100px;
    display: flex;
}

.albumCover {
    height: 300px;
}

.albumDescription {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    background-color: rgb(253, 253, 253);
    color: rgb(26, 26, 26);
    padding: 50px;
}

.date {
    font-weight: 700;
    margin: 0px;
}

.albumDescription > a {
    color: rgb(26, 26, 26);
}