* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    background-color: rgb(26, 26, 26);
    color: rgb(253, 253, 253);
    margin:0px;
}

a {
    text-decoration: none;
    color: rgb(253, 253, 253);    
}

a:hover {
    transition: ease-in 100ms;
    color: rgb(42, 142, 42);
}

nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 1;
}

.links {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}
.links > a {
    padding: 8px;
    font-weight: 700;
    font-size: 20px;
}
.inUse {
    text-decoration: underline;
}

footer {
    height: fit-content;
    background-color: rgb(253, 253, 253);
    color: rgb(26, 26, 26);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
}

footer > div > p {
    margin: 3px;

}